<%-include('partials/header')  %>
<%-include('partials/navbar')  %>

    

    <!-- Formulario para crear publicaciones -->
    <div class="container">
        <div class="ewk_cont_banner">
         <div class="row">
                <div class="col">
                    <h1 class="text-center py-3">Orden cronológico de las películas “El conjuro”, “Annabelle” y “La Monja”</h1>
                </div>
         </div>
        
         <div class="row">
              <div class="col">
                    <main class="gap-2 d-flex flex-column" id="lista-publicaciones">
                    
                    
                   </main>
             </div>
         </div>
        </div>
    </div>




<script src="/js/home-usuario.js"></script>

  <%-include('partials/footer')  %>